<div class="input-group">
  <div class="input-group-prepend ">
    <!-- form card register -->
    <div class="card container align-content-center">
      <div class="card-body">

        <form class="md-form" [formGroup]="myForm" (ngSubmit)="submit()">

          <div class="form-group">

            <div>
              <label for="file">File Upload </label>
            </div>
            <input formControlName="file" type="file" (change)="onFileChange($event)">
            <div class="alert alert-success" *ngIf="msg">
              {{msg.message}}
            </div>
            <div class="alert alert-danger" *ngIf="err">
              {{err.error}}
            </div>
            <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
              <div *ngIf="f.file.errors.required">File is required.</div>
            </div>
          </div>

          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>

  </div>
</div>
<div>

</div>
<div class="card">
  <table class="table table-bordered">
    <caption>List of files</caption>
    <thead class="thead-dark">
      <tr>
        <th scope="col"> <a (click)="listSort()"> File List </a> </th>
        <th scope='col'><a (click)="sizeSort()"> size</a></th>
        <th scope='col'><a (click)="dateSort()">Date created</a></th>
        <th scope="col ">Download</th>

      </tr>
    </thead>
    <tr *ngFor="let file of files ;let i = index">
      <td>{{file.name}} </td>
      <td>{{file.size | size }}</td>
      <td>{{file.date | date}}</td>
      <td class="text-center edit-block">
        <span class="download" (click)="view(file.name)">
          <button type="button" class="btn btn-success btn-sm">View</button>
        </span>
        &nbsp; &nbsp; &nbsp;
        <span class="download" (click)="download(file.name)">
          <button type="button" class="btn btn-success btn-sm">Download</button>
        </span>
      </td>
    </tr>

  </table>
</div>
